/* Navbar */
#navbarHeader {
	padding: 0;
	margin: 0;
	background-color: black;
	height: 10px;
	width: 100%;
}
#navbarTop {
	padding: 0;
	margin: 0;
	background-color: black;
	height: auto;
	width: 100%;
	display: inline-block;
	text-align: right;
}
#navbarMiddle {
	background-color: black;
	height: auto;
	margin: 0;
	padding: 0;
}
#titleText {
	margin: 0;
	padding: 0;
	color: red;
	font-size: 72.5px;
	font-family: "Baskerville Old Face";
	text-align: center;
}
#checkOutNav {
	padding: 0;
	margin: 0;
	background-color: black;
	height: auto;
	width: 100%;
	display: inline-block;
	text-align: right
}
#navbarBottom {
	padding: 0;
	margin: 0;
	background-color: black;
	height: auto;
	width: 100%;
	display: inline-block;
	text-align: right;
}
#search-text {
	margin-right: 45px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 35px;
}
.material-icons, .icon-text {
	vertical-align: middle;
}

/* Navbar and Body Seperation */
#seperator {
	padding: 0;
	margin: 0;
	line-height: 1em;
	background-color: white;
	height: 5px;
	width: 100%;
}

/* Body */
body {
	background-color: red;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url('../rsrc/sarassalogo.png');
    background-repeat: no-repeat;
    background-position: center;
	background-attachment: fixed;
	background-size: 675px 400px;
}
main {
	flex: 1 0 auto;
}
.carousel .carousel-item {
	width: 300px !important;
}
#link-btn {
	background-color: black;
}
#shipping-text {
	color: white;
	font-family: Courier New;
	font-size: 16px;
}
#jewelry-item-photo {
	position: relative;
	background-image: url("../rsrc/index/jewelry.jpg");
    background-repeat: no-repeat;
	background-size: 100% 300px;
	text-align: center;
	color : white;
	font-size: 18px;
	font-family: Century Gothic, sans-serif;
	width: 100%;
	height: 300px;
}
#women-item-photo {
	position: relative;
	background-image: url("../rsrc/index/womenclothing.jpg");
    background-repeat: no-repeat;
	background-size: 100% 300px;
	text-align: center;
	color : white;
	font-size: 18px;
	font-family: Century Gothic, sans-serif;
	width: 100%;
	height: 300px;
}
#sales-item-photo {
	position: relative;
	background-image: url("../rsrc/index/sales.jpg");
    background-repeat: no-repeat;
	background-size: 100% 300px;
	text-align: center;
	color : white;
	font-size: 18px;
	font-family: Century Gothic, sans-serif;
	width: 100%;
	height: 300px;
}
#facebook-photo {
	position: relative;
	background-image: url("../rsrc/index/facebook.jpg");
    background-repeat: no-repeat;
	background-size: 100% 300px;
	text-align: center;
	color : white;
	font-size: 18px;
	font-family: Century Gothic, sans-serif;
	width: 100%;
	height: 300px;
}
#instagram-photo {
	position: relative;
	background-image: url("../rsrc/index/instagram.jpg");
    background-repeat: no-repeat;
	background-size: 100% 300px;
	text-align: center;
	color : white;
	font-size: 18px;
	font-family: Century Gothic, sans-serif;
	width: 100%;
	height: 300px;
}
#about-title-text {
	color: white;
	font-family: Century Gothic, sans-serif;
	font-size: 30px;
}
#about-text {
	color: white;
	font-family: Courier New;
	font-size: 13px;
}
#new-title-text {
	color: white;
	font-family: Century Gothic, sans-serif;
	font-size: 24px;
}
#toast-container {
	top: auto !important;
	right: auto !important;
	bottom: 0%;
}

/* New Items */
.image-container {
	position: relative;
	width: 210px;
	height: 320px;
}
.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: 90%;
	transition: .5s ease;
	backface-visibility: hidden;
}
.image-title {
	color: white;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -200%);
	-ms-transform: translate(-50%, -200%);
	text-align: center;
}
.image-price {
	color: white;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	text-align: center;
}
.image-button {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 210%);
	-ms-transform: translate(-50%, 210%);
	text-align: center;
}
.image-container:hover .image {
	opacity: 0.3;
}
.image-container:hover .image-title {
	opacity: 1;
}
.image-container:hover .image-price {
	opacity: 1;
}
.image-container:hover .image-button  {
	opacity: 1;
}
.image-text {
	background-color: black;
	color: white;
	font-size: 12px;
	padding: 12px 32px;
}
#newsletter-text {
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 100px;
}

/* Footer */
#footer-header-text {
	color: #f4efef;
	font-size: 15px;
	font-weight: bold;
}
#footer-sub-text {
	color: white;
	font-size: 12px;
}
#footer-page {
	background-color: #f40909;
}
#footer-trademark {
	background-color: #d30a0a;
}
/* Media Queries */
@media (max-width: 992px) and (min-width: 600px) {
	/* Medium (Tablets) */
}
@media only screen and (max-width: 600px) {
	/* Small (Mobile Phones) */
}