/* Navbar */
#navbar {
	padding: 0;
	margin: 0;
	line-height: 1em;
	background-color: black;
	height: 125px;
	width: 100%;
}
#titleText {
	color: red;
	text-align: center;
	line-height: 100px;
	font-size: 60px;
	font-family: "Baskerville Old Face";
	font-weight: bold;
}

/* Navbar and Body Seperation */
#seperator {
	padding: 0;
	margin: 0;
	line-height: 1em;
	background-color: white;
	height: 5px;
	width: 100%;
}

/* Body */
body {
	background-color: red;
}
#sarassalogo {
	height: 25em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -35%);
	z-index: -999999;
	opacity: 0.50;
}
#sidebar {
	width: 15%;
	left: 0;
	background-color: black;
}
#sidebar a {
	color: white;
}
#sidebar h3 {
	color: white;
}
