/* Navbar */
#navbarHeader {
  padding: 0;
  margin: 0;
  background-color: black;
  height: 10px;
  width: 100%;
}

#navbarTop {
  padding: 0;
  margin: 0;
  background-color: black;
  height: auto;
  width: 100%;
  display: inline-block;
  text-align: right;
}

#navbarMiddle {
  background-color: black;
  height: auto;
  margin: 0;
  padding: 0;
}

#titleText {
  margin: 0;
  padding: 0;
  color: red;
  font-size: 72.5px;
  font-family: "Baskerville Old Face";
  text-align: center;
}

#checkOutNav {
  padding: 0;
  margin: 0;
  background-color: black;
  height: auto;
  width: 100%;
  display: inline-block;
  text-align: right
}

#navbarBottom {
  padding: 0;
  margin: 0;
  background-color: black;
  height: auto;
  width: 100%;
  display: inline-block;
  text-align: right;
}

#search-text {
  margin-right: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 35px;
}

.material-icons, .icon-text {
  vertical-align: middle;
}

/* Navbar and Body Seperation */
#seperator {
  padding: 0;
  margin: 0;
  line-height: 1em;
  background-color: white;
  height: 5px;
  width: 100%;
}

/* Body */
body {
  background-color: red;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('../rsrc/sarassalogo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 675px 400px;
}

main {
  flex: 1 0 auto;
}

#link-btn {
  background-color: black;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 0%;
}

/* Item */
#item-title-text {
  padding: 0;
  margin-top: 0;
  margin-top: 0;
  font-size: 32px;
  font-family: "Baskerville Old Face";
  color: white;
}

#price-item-text {
  padding: 0;
  margin-top: 0;
  margin-top: 0;
  font-size: 20px;
  font-family: "Baskerville Old Face";
  color: white;
}

#sub-item-text {
  padding: 0;
  margin-top: 0;
  margin-top: 0;
  font-size: 16px;
  font-family: "Baskerville Old Face";
  color: white;
}

#collapsible {
  background-color: white;
}

/* Footer */
#footer-header-text {
  color: #f4efef;
  font-size: 15px;
  font-weight: bold;
}

#footer-sub-text {
  color: white;
  font-size: 12px;
}

#footer-page {
  background-color: #f40909;
}

#footer-trademark {
  background-color: #d30a0a;
}

/* Media Queries */
@media (max-width: 992px) and (min-width: 600px) {
  /* Medium (Tablets) */
}

@media only screen and (max-width: 600px) {
  /* Small (Mobile Phones) */
}
